@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.todo {
  background: #e8f9f3;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: fit-content;
  margin: 10px;
}

.lhs {
  background: #d2e9cd;
}

.btn {
  background: #1d231f;
}

.inp {
  background: #1d231f1a;
}

.main {
  min-height: 100vh;
}

.rhs {
  background: #aed4c4;
}

@media (max-width: 1100px) {
  .todo {
    width: 60vw;
  }
}
